@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: floralwhite;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
}
img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.carousel {
  box-shadow: 2px 2px 5px rgbs(0, 0, 0, 0.3);
  height: 530px;
  width: 500px;
  overflow: hidden;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}
button {
  padding: 0.5rem;
  background-color: rgb(141, 60, 141);
  color: white;
  width: 49.5%;
  border: none;
  cursor: pointer;
  height: 10%;
  margin: 0;
}
button:hover {
  opacity: 0.9;
}
button:focus {
  outline: none;
}
.buttons-container {
  display: flex;
  justify-content: space-between;
}
